@import "../../assets/_variables";

.video {
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    position: relative;
    border: 3px solid $red;
    padding: 6px;
    border-radius: 8px;
  }

  &__circle {
    position: absolute;
    bottom: -42px;
    left: -7px;
    z-index: -1;
    width: 125px;
    height: 125px;
    border: 25px solid $red;
    border-radius: 100%;
  }

  &__content {
    position: relative;
    margin-top: 60px;
    width: 315px;
    height: 188px;
    background-color: #fff;
  }

  &__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E5E5;
    height: 100%;
  }
}
