@font-face {
	font-family: 'Roboto-Slab';
	src: url('fonts/RobotoSlab-VariableFont_wght.eot');
	src: local('☺'), url('fonts/RobotoSlab-VariableFont_wght.woff') format('woff'), url('fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype'), url('fonts/RobotoSlab-VariableFont_wght.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

